<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <title>Pilots</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Pilot Entry</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Pilot Entry</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Form</h3>
            <div class="box-tools pull-right">
                <a href="/pilot" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${pilot}" th:action="@{/pilot/save}" method="post">
            <div class="box-body">

                <input type="hidden" th:field="*{id}"/>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pilotname">Pilot Name</label>
                        <input type="text" required="true" class="form-control" th:field="*{pilotname}" id="pilotname" />
                    </div>
                    <div class="form-group">
                        <label for="fathername">Father's Name</label>
                        <input type="text" required="true" class="form-control" th:field="*{fathername}" id="fathername" />
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" required="true" class="form-control" th:field="*{address}" id="address" />
                    </div>
                    <div class="form-group">
                        <label for="drivinglicense">Driving License</label>
                        <input type="text" required="true" class="form-control" th:field="*{drivinglicense}" id="drivinglicense" />
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label for="drimage">Driver Image</label>-->
<!--                        <input type="file" required="true" class="form-control" th:field="*{drimage}" id="drimage" />-->
<!--                    </div>-->
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dob">Date of Birth</label>
                        <input type="date" required="true" class="form-control" th:field="*{dob}" id="dob" />
                    </div>
                    <div class="form-group">
                        <label for="cellphone">Cell Phone</label>
                        <input type="number" required="true" class="form-control" th:field="*{cellphone}" id="cellphone" />
                    </div>
                    <div class="form-group">
                        <label for="nationality">Nationality</label>
                        <input type="text" required="true" class="form-control" th:field="*{nationality}" id="nationality" />
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" required="true" class="form-control" th:field="*{country}" id="country" />
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label for="capimage">Capture Driver Image</label>-->
<!--                        <input type="file" required="true" class="form-control" th:field="*{capimage}" id="capimage" />-->
<!--                    </div>-->
                </div>

            </div>
            <div class="box-footer">
                <button class="btn btn-primary" type="submit">Save</button>
                <input class="btn btn-success" type="button"  th:onclick="window.print()" value="print" />
            </div>
        </form>
    </div>
</div>
</body>
</html>
