<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" th:fragment="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="active treeview">
            <a href="/">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>Pilot</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/pilot/add"><i class="fa fa-circle-o"></i> Add Pilots</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/pilot"><i class="fa fa-circle-o"></i> All Pilots</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>Vehicle</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/vehicle/add"><i class="fa fa-circle-o"></i> Add Vehicle</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/vehicle"><i class="fa fa-circle-o"></i> All Vehicle</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>Importer</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/importer/add"><i class="fa fa-circle-o"></i> Add Importer</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/importer"><i class="fa fa-circle-o"></i> All Importer</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>C&F Agent</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/cnf/add"><i class="fa fa-circle-o"></i> Add C&F Agent</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/cnf"><i class="fa fa-circle-o"></i> All C&F Agent</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>Cargo</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/cargo/add"><i class="fa fa-circle-o"></i> Add Cargo</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/cargo"><i class="fa fa-circle-o"></i> All Cargo</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>Weight</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/weight/add"><i class="fa fa-circle-o"></i> Add Weight</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/weight"><i class="fa fa-circle-o"></i> All Weight</a></li>
            </ul>
        </li>
    </ul>
</section>
<!-- /.sidebar -->